<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

  <div class="container-fluid">
  	<%= link_to 'Transcription App', root_path, class:"navbar-brand" %>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
        	<%= link_to 'Transcrition Results', home_db_path, class:"nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to 'AWS Polly', home_read_path, class:"nav-link" %>
        </li>
    </div>
  </div>
</nav>